* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto Mono", monospace;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-image: url("./images/image1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  color: white;
}

.left {
  margin: 0;
  padding-left: 20px;
  padding-top: 32%;
  height: 100vh;
}

.right {
  margin: 0;
  padding: 10px;
  height: 100vh;
  background-color: rgba(22, 22, 26, 0.5);
}
.weather {
  border-radius: 10px;
  background-color: rgba(22, 22, 26, 0.4);
}

#temperature h1 {
  font-size: 3.8rem;
}
#location {
  margin-top: 1rem;
}
#location h3 {
  font-size: 1.8rem;
  margin-left: 15px;
}

#description p {
  margin-left: 15px;
}
#location-right {
  text-align: center;
}

#w-details {
  margin-top: 10rem;
  color: white;
  width: 20rem;
  line-height: 3rem;
  list-style: none;
  border: 1px solid white;
  border-radius: 4px;
}
#loc-btn {
  margin-top: 20px;
  padding: 10px;
  background-color: rgb(79, 87, 223);
  color: white;
  font-size: 1.1rem;
  font-weight: lighter;
  text-shadow: black;
}

.modal {
  color: black;
}

/* styling for small screens */
@media (max-width: 450px) {
  .left {
    height: 55vh;
    padding-top: 3%;
  }

  .weather {
    display: block;
  }
  #temperature h1 {
    font-size: 2rem;
    text-align: center;
  }

  #location h3 {
    font-size: 1.4rem;
    text-align: center;
  }
  #time p {
    text-align: center;
  }
  .img {
    justify-self: center;
    padding: 0;
  }
  #weather-img {
    height: 80px;
  }

  #location-right {
    display: none;
  }

  #w-details {
    margin-top: -2rem;
    width: 15rem;
    line-height: 2.5rem;
    background-color: rgba(79, 80, 82, 0.4);
  }
  #loc-btn {
    font-size: 1rem;
    padding: 5px;
  }
}
/* styling for medium screens */
@media (min-width: 426px) and (max-width: 767px) {
  .left {
    height: 45vh;
    padding-top: 0;
    padding-bottom: 20%;
  }

  #temperature h1 {
    font-size: 2rem;
    text-align: center;
  }

  #location h3 {
    font-size: 1.4rem;
    text-align: center;
  }
  #time p {
    text-align: center;
  }

  #location-right h4 {
    display: none;
  }

  #w-details {
    width: 15rem;
    background-color: rgba(79, 80, 82, 0.4);
    margin-top: 0;
  }
  #loc-btn {
    font-size: 1rem;
    padding: 5px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .weather {
    padding-top: 23%;
  }
  #temperature h1 {
    font-size: 2.1rem;
  }
  #location h3 {
    font-size: 1.6rem;
  }
  #w-details {
    width: 15rem;
  }
}
